<mat-card>
    <mat-card-header>
      <h3>Library Rental - Books Availability</h3>
    </mat-card-header>

    <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Book Cover</th>
          <th>Book Name</th>
          <th>Stock Avail</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="books.length===0">
        <th
        colspan="5"
        style="text-align:center"
        >No Books Data is active</th>
      </tr>

      <tr *ngFor="let book of books; let i = index">
        <th>{{i+1}}</th>
        <th class="kecil">
          <img
          mat-card-image
          *ngIf="book.bookpic != ''"
          src="{{ book.bookpic }}"
          />
          <br>{{book.bookpic | shorten : [30, "..."]}}</th>
        <th>{{book.name}}</th>
        <th>{{book.stock}}</th>
        <th>
          <button mat-raised-button color="primary"
          (click)="onClickRental(book)">
          Rent Now
          </button>
        </th>
      </tr>
    </tbody>
    </table>
  </mat-card-content>

</mat-card>

<app-loader *ngIf="isLoading"></app-loader>