<mat-card>
  <mat-card-header>
    <h3 *ngIf="isCreate">Create User</h3>
    <h3 *ngIf="!isCreate">Edit User</h3>
  </mat-card-header>


  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Name</mat-label>
            <input matInput formControlName="user_name">

            <!-- <mat-error *ngIf="!rackForm.get('user_name')!.valid && 
            rackForm.get('user_name')!.touched&&rackForm.get('user_name')?.errors?.['required']">
              Name is required
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">

            <mat-error *ngIf="!userForm.get('email')!.valid && userForm.get('email')!.touched">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">

            <mat-error *ngIf="!userForm.get('password')!.valid && userForm.get('password')!.touched">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword">

            <mat-error *ngIf="!userForm.get('confirmPassword')!.valid && userForm.get('confirmPassword')!.touched">
              Confirm Password is required
            </mat-error>

            <mat-error *ngIf="!userForm.get('confirmPassword')!.valid && userForm.get('confirmPassword')!.touched">
              Confirm Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button mat-raised-button color="primary" type="submit">
            Save
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>

</mat-card>

<app-loader *ngIf="isLoading">
</app-loader>