<div style="width:200px"><ul>
  <mat-list>
    <mat-list-item>
      <a class="nav-link" [routerLink]="['books']">
        <div>Books</div>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav-link" [routerLink]="['racks']">
        <div>Rack</div>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav-link" [routerLink]="['categories']">
        <div>Category</div>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav-link" [routerLink]="['users']">
        <div>User</div>
      </a>
    </mat-list-item>
   </mat-list>
</ul>
</div>
