.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  color:white
}
.nav-link{
  color: white
}
.initial-avatar {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #d1d5db;
  color: #fff;

  /* Rounded border */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.avatar-container{
  display:flex;
}

.active {
  font-weight: bold;
}
/* .mat-drawer-inner-container{
  width:200px
} */
