<div style="width:200px">
  <ul>
    <mat-list>
      <!-- <mat-list-item>
          <div class="avatar-container">
            <div class="initial-avatar">H</div>
            <span>   
               cndjkslcn
            </span>  
          </div> -->
        <!-- <a class="nav-link" [routerLink]="['books']">
        <div>Books</div>
      </a> -->
      <!-- </mat-list-item> -->
      <mat-list-item>
        <a class="nav-link" [routerLink]="['books']" routerLinkActive="active">
          <div>Books</div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link" [routerLink]="['rental']" routerLinkActive="active">
          <div>Rentals</div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link" [routerLink]="['racks']" routerLinkActive="active">
          <div>Rack</div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link" [routerLink]="['categories']" routerLinkActive="active">
          <div>Category</div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link" [routerLink]="['users']" routerLinkActive="active">
          <div>User</div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link" [routerLink]="['member']" routerLinkActive="active">
          <div>Member</div>
        </a>
      </mat-list-item>

      <mat-list-item>
        <a href="#" class="nav-link" (click)="onLogOut()">
          <div>Log out</div>
        </a>
      </mat-list-item>
    </mat-list>
  </ul>
</div>