<mat-card>
    <mat-card-header>
        <h3 *ngIf="isCreate">Create Member</h3>
        <h3 *ngIf="!isCreate">Edit Member</h3>
    </mat-card-header>


    <mat-card-content>
        <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="form-group"></div>
                <mat-form-field [style.width.px]=327>
                    <mat-label>Member ID</mat-label>
                    <input matInput formControlName="member_id" readonly="true">
                    <!-- <mat-error *ngIf="!rackForm.get('rack_name')!.valid && 
                    rackForm.get('rack_name')!.touched&&rackForm.get('rack_name')?.errors?.['required']"
                    >
                      Name is required
                    </mat-error>
                    <mat-error *ngIf="!rackForm.get('rack_name')!.valid && 
                    rackForm.get('rack_name')!.touched&&rackForm.get('rack_name')?.errors?.['nameIsExist']">
                      Name is exist
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field [style.width.px]=327>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="member_name" readonly="true">
                    <mat-error *ngIf="!memberForm.get('member_name')!.valid && memberForm.get('member_name')!.touched">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field [style.width.px]=327>
                    <mat-label>Type Indentity</mat-label>
                    <input matInput formControlName="type_indentity" readonly="true">
                    <mat-error
                        *ngIf="!memberForm.get('type_indentity')!.valid && memberForm.get('type_indentity')!.touched">
                        Type Identity is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field [style.width.px]=327>
                    <mat-label>Indentity ID</mat-label>
                    <input matInput formControlName="identity_id" readonly="true">
                    <mat-error *ngIf="!memberForm.get('identity_id')!.valid && memberForm.get('identity_id')!.touched">
                        Identity ID is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field [style.width.px]=327>
                    <mat-label>Addresss</mat-label>
                    <input matInput formControlName="address" readonly="true">
                    <mat-error *ngIf="!memberForm.get('address')!.valid && memberForm.get('address')!.touched">
                        Address is required
                    </mat-error>
                </mat-form-field>
            </div>



            <div class="form-group">
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option [value]="">Choose Gender</mat-option>
                        <mat-option *ngFor="let gender of genders" [value]="gender">
                            {{gender}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!memberForm.get('gender')!.valid && memberForm.get('gender')!.touched">
                        Gender is required
                    </mat-error>
                </mat-form-field>


            </div>


            <div class="form-group">
                <button mat-raised-button color="primary" [disabled]="!memberForm.valid">
                    Save
                </button>
            </div>
        </form>
    </mat-card-content>

</mat-card>

<app-loader *ngIf="isLoading">
</app-loader>