<mat-toolbar>
  <span>PROJECT - Book Library Management</span>
</mat-toolbar>
<mat-card>
  <div class="form-container">
    <mat-card-content>

      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <mat-form-field [style.width.px]=327>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="!loginForm.get('email')!.valid && loginForm.get('email')!.touched &&loginForm.get('email')?.errors?.['required']">
                Email is required
              </mat-error>
              <mat-error *ngIf="!loginForm.get('email')!.valid && loginForm.get('email')!.touched &&loginForm.get('email')?.errors?.['email']">
                Email is not on valid format
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field [style.width.px]=327>
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="!loginForm.get('password')!.valid && loginForm.get('password')!.touched">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
              Save
            </button>
          </div>
        </div>
      </form>

    </mat-card-content>
  </div>

</mat-card>

<app-loader *ngIf="isLoading">
</app-loader>
