<mat-card>
  <mat-card-header>
    <h3>Categories</h3>
  </mat-card-header>

  <mat-card-content>
    <button
    class="btn btn-primary"
    (click)="onClickCreateButton()">
    Create
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Category Name</th>
        <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="categories.length===0">
      <th
      colspan="3"
      style="text-align:center"
      >No Data</th>
    </tr>

    <tr *ngFor="let category of categories; let i = index">
      <th>{{i+1}}</th>
      <th>{{category.name}}</th>
      <th>
        <button class="btn btn-primary"
        (click)="onClickEdit(category)">
        Edit
        </button>
        <button class="btn btn-danger"
        (click)="onClickDelete(category)">Delete</button>
      </th>
    </tr>
  </tbody>
  </table>
</mat-card-content>

</mat-card>

<app-loader *ngIf="isLoading"></app-loader>



