.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

table{
  color: #fff;
  margin-top : 8px;
  font-size:16px;
  --bs-table-border-color: #000000;
}


