<mat-card>
    <mat-card-header>
      <h3>Users</h3>
    </mat-card-header>
  
    <mat-card-content>
      <button
      class="btn btn-primary"
      (click)="onClickCreateButton()">
      Create
    </button>
    <table class="table">
      <thead>
        <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="admin.length===0">
        <th
        colspan="4"
        style="text-align:center"
        >No Data</th>
      </tr>
  
      <tr *ngFor="let adm of admin; let i = index">
        <th>{{i+1}}</th>
        <th>{{adm.name}}</th>
        <th>{{adm.email}}</th>
        <th>
          <span *ngIf="adm.isActive" class="alert alert-success">Active</span>
          <span *ngIf="!adm.isActive" class="alert alert-primary">Non Active</span>
        </th>
        <th>
          <button class="btn btn-primary"
          (click)="onClickEdit(adm)"
          *ngIf="adm.isActive" >
          Delete Admin
          </button>

          <button class="btn btn-primary"
          (click)="onClickEdit(adm)"
          *ngIf="!adm.isActive" >
          Active Admin
          </button>
          <!-- <button class="btn btn-danger"
          (click)="onClickDelete(adm)">Delete</button> -->
  
        </th>
      </tr>
    </tbody>
    </table>
  </mat-card-content>
  
  </mat-card>
  
  <app-loader *ngIf="isLoading"></app-loader>
  
  
  
  