<mat-toolbar>
  <a routerLink="/">PROJECT - Book Library Management</a>
  <span class="example-spacer"></span>

  <a [routerLink]="['login']" mat-raised-button color="primary"> Login</a>
</mat-toolbar>


<div class="container">
  <div fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let book of books">
      <a [routerLink]="['view',book.id]" >
        <mat-card class="books-container">
          <img
            mat-card-image
            *ngIf="book.bookpic === ''"
            src="../../assets/image/noImage.jpg"
          />
          <img
            mat-card-image
            *ngIf="book.bookpic != ''"
            src="{{ book.bookpic }}"
          />
          <mat-card-header class="title">
            <mat-card-title>{{
              book.name | shorten : [25, "..."]
            }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>Category : {{ book.categoryDesc }}</div>
            <div>Racks : {{ book.rackDesc }}</div>
            <div>Stocks : {{ book.stock }}</div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
<br />

<app-loader *ngIf="isLoading"></app-loader>
