.container{
    padding : 8px;
}
.books-container{
    padding : 8px;
    margin : 8px;
}
.centered-header{
    text-align: center;
}
.books-container{
    color : #fff;
}
.example-spacer {
    flex: 1 1 auto;
  }
/* .mat-mdc-card :hover{
    background-color: #c3c3c3;
} */


/* background-color: #b1b1b1; */