<mat-card>
  <mat-card-header>
    <h3 *ngIf="isCreate">Create Book</h3>
    <h3 *ngIf="!isCreate">Edit Book</h3>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Book Name</mat-label>
            <input matInput formControlName="book_name">
            <mat-error *ngIf="!bookForm.get('book_name')!.valid && bookForm.get('book_name')!.touched">
              Book is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Book Cover</mat-label>
            <input matInput formControlName="bookpic">
            <!-- <mat-error *ngIf="!bookForm.get('book_name')!.valid && bookForm.get('book_name')!.touched"
              >
                Book is required
              </mat-error> -->
          </mat-form-field>
        </div>

        <br>
        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Category Option</mat-label>
            <select matNativeControl class="form-control"
            formControlName="category" required>
            <option>deleted</option>
              <option *ngFor="let cats of categories" [value]="cats.name">
                {{cats.name}}
              </option>
            </select>
            <mat-error *ngIf="!bookForm.get('category')!.valid && bookForm.get('category')!.touched">
              Category is required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Rack Option</mat-label>
            <select matNativeControl class="form-control"
            formControlName="rack" required>
              <option>deleted</option>
              <option *ngFor="let racs of racks" [value]="racs.name">
                {{racs.name}}
              </option>
            </select>
            <mat-error *ngIf="!bookForm.get('rack')!.valid && bookForm.get('rack')!.touched">
              Rack is required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=327>
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock">
            <mat-error *ngIf="!bookForm.get('stock')!.valid && bookForm.get('stock')!.touched">
              Book is required
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group">
          <mat-form-field  class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"> </textarea>
            <mat-error *ngIf="!bookForm.get('description')!.valid && bookForm.get('description')!.touched">
              Description is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <button  mat-raised-button
          color="primary" type="submit" [disabled]="!bookForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<app-loader *ngIf="isLoading"></app-loader>
