<mat-card>
  <mat-card-header>
    <h3 *ngIf="isCreate">Create Rack</h3>
    <h3 *ngIf="!isCreate">Edit Rack</h3>
  </mat-card-header>


  <mat-card-content>
    <form [formGroup]="rackForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group">
          <label for="rack_name">Name</label>
          <input name="rack_name"
          class="form-control"
          formControlName="rack_name">
          <span
          *ngIf="!rackForm.get('rack_name')!.valid && rackForm.get('rack_name')!.touched"
          class="danger">Name is required</span>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input name="location"
          class="form-control"
          formControlName="location">
        </div>
        <span
        *ngIf="!rackForm.get('location')!.valid && rackForm.get('location')!.touched"
        class="danger">Location is required</span>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!rackForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>
</mat-card-content>

</mat-card>

<app-loader *ngIf="isLoading">
</app-loader>


