<mat-card>
  <mat-card-header>
    <h3 *ngIf="isCreate">Create Category</h3>
    <h3 *ngIf="!isCreate">Edit Category</h3>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group">
          <label for="category_name">Category Name</label>
          <input
            name="category_name"
            class="form-control"
            formControlName="category_name"
            required
          />
          <span
            *ngIf="
              !categoryForm.get('category_name')!.valid &&
              categoryForm.get('category_name')!.touched
            "
            class="danger"
            >Name is required</span
          >
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<app-loader *ngIf="isLoading"></app-loader>
