<mat-toolbar>
  <span>PROJECT - Book Library Management</span>
  <span class="example-spacer"></span>

  <a [routerLink]="['login']" mat-raised-button color="primary"> Login</a>
</mat-toolbar>

<div class="container">
  <mat-card class="books-container">
    <div style="    text-align: center;" >
      <img
        mat-card-image
        *ngIf="book.bookpic === ''"
        src="../../assets/image/noImage.jpg"
      />
      <img mat-card-image *ngIf="book.bookpic != ''" src="{{ book.bookpic }}" />
    </div>
    <mat-card-header class="title">
      <mat-card-title>{{ book.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <div>Category : {{ book.categoryDesc }}</div>
      <div>Racks : {{ book.rackDesc }}</div>
      <div>Stocks : {{ book.stock }}</div>
      <div>Description : </div>
      <div>
        {{ book.description }}
      </div>
    </mat-card-content>
  </mat-card>
</div>

<br />

<app-loader *ngIf=""></app-loader>
